<ion-view view-title="What do you want to ask for?">
  <ion-content padding="true">
    <h1>Welcome to your account!</h1>

    You have received $40  in the past week. <p></p>
    You have reached 50% of your total goal of $80. <p></p>

    <!-- $firebaseArray(ref.child('needs').orderByChild('kid').equalTo($stateParams.kidId)); money  get it to display actual amount.-->
    <button class="button button-assertive">
          Your Child Profile(s):
    </button>
    <div class="item item-thumbnail-left">
        <img ng-src="{{kid.picture}}" />
        <h2>{{kid.first_name}} {{kid.last_name}}</h2>
        <p class="details-description">{{need.description}}</p>
        <p><i class="icon ion-ios-location"></i>&nbsp;&nbsp;Mission District, San Francisco, USA</p>
    </div>


    <button class="button button-full button-positive">
          Update Child Profile
        </button>
    <p></p>
    <button class="button button-full button-positive">
          Add New Child Profile
        </button>
    <p></p>
    <button class="button button-full button-positive">
          Update Needs Information
        </button>


  </ion-content>
</ion-view>
