<ion-view view-title="Thank you!">
  <ion-content padding="true">
    <h1 class="donations-success-header">
      Thank you for donating to {{kid.first_name}}!
    </h1>

    <div class="card">
      <div class="item item-thumbnail-left">
        <img ng-src="{{kid.picture}}" />
        <h1>{{kid.first_name}} {{kid.last_name}}</h1>
        <h2 class="details-description">{{need.description}}</h2>
        <p><i class="icon ion-ios-location"></i>&nbsp;&nbsp;Mission District, San Francisco, USA</p>
      </div>
    </div>

    <p>
      Your {{need.amount}} donation has been charged to your credit card ending
      ith 4832.  You will hear back from {{kid.first_name}} when the money is
      put into use!
    </p>
    <br />

    <a class="button button-full button-positive" href="#/app/kids">
      Back to Browse
    </a>
  </ion-content>
</ion-view>
