<ion-view view-title="27 percent">
  <ion-content>
    <div class="text-center">
      <img class="login-img" src="img/child.jpg" />
      <h3 class="home-description">
        27% of California kids live in poverty.  Here's how you can help
        one of them today.
      </h3>
    </div>
    <div class="login-button">
      <a class="button button-block button-positive login-button" href="#/landing/login">
        I have an account!
      </a>
    </div>
    <p class="text-center">or</p>
    <div class="login-button">
      <a class="button button-block button-positive login-button" href="#/landing/signup">
        Sign up for an Account
      </a>
    </div>
  </ion-content>
</ion-view>
