<ion-view view-title="Details">
  <ion-content>
    <img src={{kid.picture}} class="thekid-img">
    <div class="kid-with-padding">
      <h1>{{kid.first_name}} {{kid.last_name}}</h1>
      <p>{{kid.bio}}</p>
      <h3>How you can help me:</h3>
    </div>
    <ion-list>
      <ion-item ng-repeat="(needId, need) in needs" class="item-thumbnail-left">
        <img ng-if="need.picture" src={{need.picture}}>
        <h2 class="details-description">{{need.description}}</h2>
        <button class="button button-full button-positive icon-left ion-checkmark-round" ng-click="contribute(need.id)">
          Contribute {{need.amount}}
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
