<ion-view view-title="Details">
  <ion-content>
    <div class="kid-intro">
      <img src={{kid.picture}} class="thekid-img">
      <h2>{{kid.first_name}} {{kid.last_name}}</h2>
    </div>

    <div class="kid-with-padding">
      <p>{{kid.bio}}</p>
    </div>
    <ion-list>
      <div class="item item-divider"><h1>How you can help me:</h1></div>
      <ion-item ng-repeat="(needId, need) in needs" class="item-thumbnail-left">
        <img ng-if="need.picture" src={{need.picture}}>
        <h2 class="details-description">{{need.description}}</h2>
        <button class="button button-full button-positive icon-left ion-checkmark-round" ng-click="contribute(need.id)">
          Contribute {{need.amount}}
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
