<ion-view view-title="Search">
  <ion-content>
    <form ng-submit="doSearch()">
      <label class="search-input item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="searchData.term">
      </label>
    </form>
    <ion-list>
      <ion-item ng-repeat="(id, kid) in filteredKids" href="#/app/kids/{{id}}" class="item-thumbnail-left">
        <img src={{kid.picture}}>
        <h2>{{kid.first_name}} {{kid.last_name}}</h2>
        <p>{{kid.bio}}</p>
        <p><i class="icon ion-ios-location"></i>&nbsp;&nbsp;Mission District, San Francisco, USA</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
