<ion-view view-title="Account Settings">
  <ion-content>
    <div class="acct-settings" class="user-img">
        <img src="http://worldwide.streamer.espeakers.com/assets/5/16375/97662.jpg" class="thekid-img">
        <h2>{{loggedInUser.first_name}} {{loggedInUser.last_name}}</h2>
    </div>

    <div class="card">
        <div class="item item-divider">
            Contact Information
        </div>
        <div class="item item-text-wrap">
            Name
            <span class="item-note">Linda Wolfson</span>
        </div>
        <div class="item item-text-wrap">
            Email
            <span class="item-note">linda@gmail.com</span>
        </div>
        <div class="item item-text-wrap">
            Location
            <span class="item-note">San Francisco, CA</span>
        </div>
        <div class="item item-icon-left item-icon-right assertive" href="#">
            <i class="icon ion-email"></i>
            Change Contact Information
            <i class="icon icon-right ion-ios-arrow-right"></i>
        </div>
        <div class="item item-icon-left item-icon-right assertive" href="#">
            <i class="icon ion-person"></i>
            Change Picture
            <i class="icon icon-right ion-ios-arrow-right"></i>
        </div>
    </div>

    <div class="card">
        <div class="item item-divider">
            Donation History
        </div>
        <div class="item item-text-wrap">
            Number of Past Donations
            <span class="item-note">8</span>
        </div>
        <div class="item item-icon-left item-icon-right assertive" href="#">
            <i class="icon ion-social-usd"></i>
            View Donation History
            <i class="icon icon-right ion-ios-arrow-right"></i>
        </div>
    </div>

    <div class="card">
        <div class="item item-divider">
            Payment Information
        </div>
        <div class="item item-text-wrap">
            Credit Card
            <span class="item-note">**** **** **** 1245</span>
        </div>
        <div class="item item-icon-left item-icon-right assertive" href="#">
            <i class="icon ion-card"></i>
            Change Payment Information
            <i class="icon icon-right ion-ios-arrow-right"></i>
        </div>
    </div>
  </ion-content>
</ion-view>
